<style>
    article{
        text-align: justify;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">Treść zadania</div>
            <div class="card-body">
                <img src="../../assets/tresc_zadania.jpg" class="card-img-top"/>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>Zadanie 1.</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title" style="text-align: center;">Lorem Ipsum</h1>
                <q style="font-size: large; font-weight: bold;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, adipisci velit...</q><br/>
                <q>Nie ma nikogo, kto lubiłby ból dla samego bólu, szukał go tylko po to, by go poczuc, po prostu dlatego, że to ból...</q><br/>
                <div class="row mt-2">
                    <div class="col-sm-4">
                        <h6>Czym jest Lorem Ipsum?</h6>
                        <article>
                            <p><strong>Lorem Ipsum</strong> jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.</p>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <h6>Skąd się wzięło?</h6>
                        <article>
                            <p>W przeciwieństwie do rozpowszechninych opinii, Lorem Ipsum nie jest tylko przypadkowym tekstem. Ma ono, korzenie w klasycznej łacińskiej literaturze z 45 roku przed Chrystusem, czyli ponad 2000 lat temu!</p>
                        </article> 
                    </div>
                    <div class="col-sm-4">
                        <h6>Do czego tego użyc?</h6>
                        <article>
                            <p>Ogólnie znana teza głosi, iż użytkownika może rozpraszać zrozumiała zawartość strony, kiedy ten chce zobaczyć sam jej wygląd.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>Zadanie 2.</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input action="#" type="email" class="form-control" id="email"
                               oninvalid="this.setCustomValidity('Adres email musi zawierać znak @')"
                               oninput="this.setCustomValidity('')"/>
                    </div>
                    <button class="btn btn-primary"type="submit">Waliduj</button>
                </form>
            </div>
        </div>
    </div>
</div>