:root{
    --navbar-padding: 72px;
}
html {
    font-size: 16px;
    position: relative;
    height: 100vh;
    margin: 0;
}
body, .page-root, ui-view, .container-fluid, .row{
    height: 100%;
}
.side-nav {
    position: fixed;
    border-right: 4px solid #ccc;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: #333;
    color: white;
    top: 0;
    left: 0;
    padding-top: var(--navbar-padding);
    overflow: scroll;
}
.side-nav.ng-enter,
.side-nav.ng-leave {
    transition: transform ease-in-out 1s;
}
.side-nav.ng-enter,
.side-nav.ng-leave.ng-leave-active{
    transform: translateX(-100%);
}
.side-nav.ng-enter.ng-enter-active,
.side-nav.ng-leave {
    transform: translateX(0);
}
.page-content {
    width: 100%;
    transition: all ease-in-out 1s;
    margin-left: 0;
    padding-top: var(--navbar-padding);
}
.page-content.pushedRight {
    margin-left: 100%;
    transition: all ease-in-out 1s;
}
.nav-link{
    display: inline-block;
}
code.code-block {
    display: block;
    background-color: #333;
    color: lightgoldenrodyellow;
    padding: 8px 16px;
}
.code-object{
    color: lightblue;
}
.code-function{
    color: lightyellow;
}
.code-string{
    color: lightgreen;
}
.code-primitive {
    color: lightcoral;
}
.code-element {
    color: purple;
}
.section-links{
    width: 100%;
    text-align: center;
}
.section-links.ng-enter,
.section-links.ng-leave.ng-leave-active{
    transition: 0.5s linear opacity;
    opacity: 0;
}
.section-links.ng-leave,
.section-links.ng-enter.ng-enter-active {
    opacity: 1;
}
.section-links.ng-enter-stagger,
.section-links.ng-enter-stagger{
    transition-delay: 0.2s;
}
.section-link {
    background-color: transparent;
    font-size: medium;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
